@font-face {
  font-family: "RobotoRegular";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../public/fonts/OpenSans/OpenSans-Regular.ttf");
}

$borderShadowColor: rgba(0,0,0,0.25);
$mainForegroundColor: #2c2c2c;
$whiteForegroundBrush: #fff;
$lightGrayBorderColor: #ececec;
$darkBlueColor: #1b1a23;
$footerColor: #272532;
$darkForegroundBrush: #635f76;

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;

  .root {
    position: relative;
    height: 100%;

    .root-container {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

header {
  flex: 0 0 auto;
  border-style: solid;
  border-color: $lightGrayBorderColor;
  border-width: 0px;
  //border-bottom-width: 0px;
  transition: .5s ease;
  position: absolute;
  top: 11%;
  width: 100%;
  z-index: 1;

  .title-logo {
    font-family: RobotoRegular;
    letter-spacing: 5px;
    font-size: 32px;
    width: 165px;
    margin: 25px auto;
    opacity: 0;
    transition: .5s ease;
  }

  .navbar {
    padding: 30px 0;
    margin: 0px;
    transition: .5s ease;
  }

  .nav {
    flex-direction: row;
  }

  .nav a {
    margin-left: 15px;
    margin-right: 15px;

    background: transparent;
    color: $lightGrayBorderColor;
    font-family: RobotoRegular;
  }

  .nav .nav-item:after {
    content: '';
    background: black;
    display: block;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: .5s ease;
  }

  .nav .active > .nav .nav-item:after {
    width: 100%;
  }

  .vertical-separator {
    width: 1px;
    background-color: $lightGrayBorderColor;
    opacity: 0;
    transition: .5s ease;
  }

  .language-button {
    margin: 30px 0;

    .dropdown {
      margin: 0 auto;

      button {
        color: $darkForegroundBrush;
        background-color: transparent;
        border-color: $lightGrayBorderColor;
        border-width: 1px;

        &:hover {
          box-shadow: none;
          background-color: $lightGrayBorderColor;
        }

        &:focus {
          box-shadow: none !important;
          background-color: $lightGrayBorderColor !important;
          border-color: $darkForegroundBrush !important;
          color: $darkForegroundBrush !important;
        }
      }
    }
  }
}

.header-spacing-top {
  padding-top: 30px;
}
.header-spacing-bottom {
  padding-bottom: 30px;
}
.header-spacing-left {
  padding-left: initial;
}
.header-spacing-right {
  padding-right: initial;
}

.content {
  flex: 1 0 auto;
  min-height: 1000px;
  transition: 1s ease-in-out;
}

.home-page {
  position: relative;
  height: 100%;

  .space-photo {
    background-image: url("../public/images/header-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;

    .dynamic-point {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 2;
    }

    .title-container {
      position: absolute;
      bottom: 350px;
      left: 60px;
      width: auto;
      height: auto;

      .title-text-middle {
        color: $whiteForegroundBrush;
        font-family: RobotoRegular;
        font-size: 28px;
      }

      .title-text-high {
        color: white;
        font-family: RobotoRegular;
        font-size: 56px;
      }

      hr {
        color: #000;
        background: white;
        max-width: 300px;
        margin: 15px 0px;
        padding: 0;
      }

      .subtitle-text {
        color: #c7c7c7;
        font-family: RobotoRegular;
        font-size: 16px;
      }
    }

    .start-button-container {
      position: absolute;
      bottom: 65px;
      left: 50%;
      width: auto;
      height: auto;
      margin: 0 auto;

      .start-button-link {
        padding: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(69, 96, 175);
        border-radius: 50px;
        text-decoration: none;

        .start-button-icon {
          font-size: 32px;
          color: rgb(69, 96, 175);
          vertical-align: -0.325em !important;
        }

        &:before, &:after {
          content: '';
          position: absolute;
          border: 1px solid #29AEE3;
          left: -10px;
          right: -10px;
          top: -21px;
          bottom: -20px;
          border-radius: 50%;
          animation: pulse 1.6s linear infinite;
          opacity: 0;
        }

        &:after {
          animation-delay: .5s;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.footer {
  flex: 0 0 auto;
  padding: 145px 0;
  padding-bottom: 0 !important;

  background-color: $footerColor;

  ul li {
    margin: 5px 0;
  }

  ul .nav-link {
    padding: 0 !important;
    margin: 5px 0 !important;
  }

  h6 {
    font-size: 16px;
    font-family: RobotoRegular;
    color: $whiteForegroundBrush;
  }

  p {
    font-size: 14px;
    font-weight: normal;
    font-family: OpenSansRegular;
    color: $whiteForegroundBrush;
  }

  a {
    font-size: 14px;
    font-weight: normal;
    font-family: OpenSansRegular !important;
    text-decoration: none;
    color: $whiteForegroundBrush;
  }

  div {
    font-size: 14px;
    font-weight: bold;
    font-family: RobotoRegular;
    color: $darkForegroundBrush;
  }

  #footer__element-separator {
    width: 150px;
    margin-left: 0;
    color: $darkForegroundBrush;
    border-color: $darkForegroundBrush;
  }

  .footer__item_company h6 {
    font-size: 32px !important;
    color: #fff;
  }

  .footer__item_company p {
    color: $darkForegroundBrush;
  }
}

@media (max-width: 990px) {
  .footer__item:first-child {
    margin-bottom: 40px;
  }
  .footer__item:first-child h6,
  .footer__item:first-child p {
    text-align: center !important;
  }
  .footer__item:first-child hr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 575px) {
  .footer__item {
    margin-bottom: 40px;
  }
}

.copyright {
  width: 100%;
  margin-top: 85px;
  padding: 20px 0;
  background-color: $darkBlueColor;

  div {
    text-align: center;
    color: #fff;
    font-family: RobotoRegular;
    font-weight: normal;
    font-size: 12px;
  }
}